#root {
  --helvetica-font: "HelveticaNeue-Light", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.leftSideBar {
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.myBtns{
  position: static;
}

@media screen and (max-width: 992px) {
  .myBtns {
    position: absolute;
    top: 96vh;
    left: 50vw;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .leftSideBar {
    min-height: 5vh;
  }
}
